# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Build
/dist/
/build/

# Misc
.env
*.env.*

# VSCode
.vscode/

# Coverage
coverage/

# Grunt
.grunt/
